<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.all.min.js"></script>
    <style>
        .card {
            max-width: 900px;
            margin: 20px auto;
            padding: 20px;
        }

        #tablaPedido td {
            text-align: center;
            vertical-align: middle;
        }
    </style>

</head>


<body>
    <div class="card">

        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="col-2 col-sm-3">
                    <label for="selectEstado">ESTADO</label>
                    <select id="selectEstado" name="selectEstado" class="form-control rounded-lg text-dark">
                    </select>
                </div>


                <div class="col-4 d-flex align-items-end" style="margin-top: 1.75rem;">

                    <button class="btn btn-primary rounded text-white" id="btn-buscar" name="btn-buscar">
                        <i class="fa-solid fa-search"></i>BUSCAR
                    </button>


                    <button class="btn btn-danger rounded text-white ms-2" id="btn-borrar" name="btn-borrar">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

            </div>

            <h5 class="card-title mt-4">LISTA DE PEDIDOS</h5>
            <div class="table-responsive ">
                <table id="tablaPedido" class="table table-striped table-sm" width="100%" autocomplete="off">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>CANTIDAD</th>
                            <th>FECHA</th>
                            <th>MIN. DEMORA</th>
                            <th>TIPO DE ENTREGA</th>
                            <th>ESTADO</th>
                            <th>OPCIONES</th>
                        </tr>
                    </thead>
                </table>

            </div>

        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(async function () {

            tablaPedido = $('#tablaPedido').DataTable({
                responsive: true, //para el signo de suma en responsi
                searching: false, //busqueda desactivado
                ordering: false, //orden desactivado
                paging: false,
                info: false,
                "language": {
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla", //informacion vacia
                    "sInfo": "_START_ al _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando del 0 al 0 de 0 registros",
                    "sLengthMenu": "",
                    "oPaginate": {
                        "sFirst": "Erste",
                        "sPrevious": "Atrás",
                        "sNext": "Siguiente",
                        "sLast": "Letzte"
                    },
                    select: { rows: "" }
                }
            });

            const selectEstado = document.getElementById('selectEstado');
            const opciones = [
                { value: '0', text: 'TODOS' },
                { value: '1', text: 'RECIBIDO' },
                { value: '2', text: 'PENDIENTE' },
                { value: '3', text: 'ENTREGADO' },
                { value: '4', text: 'ANULADO' }
            ];

            opciones.forEach(opcion => {
                const opt = document.createElement('option');
                opt.value = opcion.value;
                opt.textContent = opcion.text;
                selectEstado.appendChild(opt);
            });

            $('#btn-buscar').click(function () {
                const estado = $('#selectEstado').val();
                listarPedidos(estado);
            });

            $('#btn-borrar').click(function () {
                listarPedidos(2);
            });

            listarPedidos(2);

        });

        function listarPedidos(estado) {
            $.ajax({
                type: 'POST',
                url: '/app/controller/controladorPedidos.php',
                data: {
                    accion: 'listarPedidos',
                    estado: estado
                },
                dataType: 'json',
                success: function (resultado) {

                    llenarTablaPedidos(resultado.pedidos);

                }, complete: function () {
                }
            });

        }

        function llenarTablaPedidos(data) {
            tablaPedido.clear().draw();
            let row = 1;

            $.each(data, function (index, ele) {
                tablaPedido.row.add([
                    row,
                    ele.cantidad,
                    ele.fecha,
                    ele.minutosTrans,
                    ele.tipEntrega,
                    ele.estado,
                    `<a class="pe-1" href="#" title="VER DETALLE" onclick="actualizarEstado('${ele?.idPedido}')">
    <i class="fa fa-info-circle text-warning"></i>
</a>`+
                    `<a class="pe-1" href="#" title="ACTUALIZAR PRODUCTO" onclick="actualizarEstado('${ele?.idPedido}')">
    <i class="fa-solid fa-rotate"></i>
</a>` 
                ]).draw(false);
                row++;
            });
        }

        function actualizarEstado(idcabecera) {
            Swal.fire({
                title: 'ACTUALIZAR ESTADO',
                html: `
                <p>ESTADOS:</p>
                <select id="selectCategoriaSwal" class="form-control ">
                    <option value="0">TODOS</option>
                    <option value="1">RECIBIDO</option>
                    <option value="2">PENDIENTE</option>
                    <option value="3">ENTREGADO</option>
                    <option value="4">ANULAR</option>
                </select>
            `,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#48C28D',
                cancelButtonColor: '#d33',
                confirmButtonText: 'CONTINUAR',
                cancelButtonText: 'CANCELAR',
                didOpen: () => { 

                    $('#selectCategoriaSwal').select2({
                        placeholder: 'Seleccione una opcion',
                        width: '70%' 
                    });
                }
            }).then((result) => {
                if (result.isConfirmed) {
                     
                    const estado = $('#selectCategoriaSwal').val();
                    actualizarPedido(estado,idcabecera); 
                }
            });
        }

        function actualizarPedido(estado, idcabecera){
            $.ajax({
                type: 'POST',
                url: '/app/controller/controladorPedidos.php',
                data: {
                    accion: 'actualizarPedido',
                    estado: estado ,
                    idcabecera:idcabecera
                },
                dataType: 'json',
                success: function (resultado) {

                     if(resultado.success){
                        msjFinal(1 ,resultado.message );
                     }else{
                        msjFinal(2 ,resultado.message );
                     }

                }, complete: function () {
                }
            });
        }



        function msjFinal(codMsj, desMsj) {
            let icon = 'error';

            if (codMsj == "1") {
                icon = 'success';
            } else if (codMsj == "2") {
                icon = 'warning';
            }

            Swal.fire({
                icon: icon,
                text: desMsj,
                showConfirmButton: false,
                timer: (codMsj == "1") ? 3500 : undefined
            });
        }



    </script>
</body>

</html>